body {

    margin: 0%;
    background-color: rgb(5,95,251);
   
}

@media only screen and (min-width: 768px){

.first>img {

    height: 100px;
    margin-top: 0%;
}

.first {
    display: flex;
    justify-content: center;
    margin-top: 0%;

}

div>h1 {
    text-align: center;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 40px;
    margin-top: 0%;
    margin-bottom: 3%;
}



.player {

    text-align: center;
    display: flex;
    justify-content: center;
    gap: 70px;
    margin-top: 0%;
}

.dice>p {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 2%;
    margin-bottom: 2%;
}

.winner {
    text-align: center;
    font-family: 'Chakra Petch', sans-serif;
    font-size: larger;
    font-weight: bold;
    margin-top: 2%;
    margin-bottom: 3%;
}

.btn {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

button {
    border-radius: 12px;
    background-color: black;
    border: none;
    color: blanchedalmond;
    padding: 10px 40px 10px 40px;
    width: 150px;
    height: 40px;
}
#diceimage{

    filter: drop-shadow(0 0 50px black  );
    height: 200px;
    animation: glow  2s alternate infinite;
}

@keyframes glow {
    0%{
       filter:  drop-shadow(0 0 20px black );
    }

    100% {
        filter : drop-shadow(0 0 80px black  );
    }
}
}
@media only screen and (max-width: 320px){

    div>h1 {
        text-align: center;
        font-family: 'Chakra Petch', sans-serif;
        font-size: 30px;
        margin-top: 40%;
        margin-bottom: 3%;

    }

    
    .first>img {

        height: 80px;
        margin-top: 0%;
        position: absolute;
       left: 50%;
       top: 10%;
       transform: translate(-50%, -50%);
    }
    .dice>p {
        font-size: 20px;
        font-weight: bold;
        margin-top: 0%;
        margin-bottom: 2%;
       
    }
    .player {

        text-align: center;
        display: flex;
        justify-content: center;
        gap: 70px;
        margin-top: 20%;
    }
    #diceimage{

        filter: drop-shadow(0 0 50px black  );
        height: 120px;
        animation: glow  2s alternate infinite;
    }
    .winner {
        text-align: center;
        font-family: 'Chakra Petch', sans-serif;
        font-size: larger;
        font-weight: bold;
        margin-top: 2%;
        margin-bottom: 3%;
    }
    .btn {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    
    button {
        border-radius: 12px;
        background-color: black;
        border: none;
        color: blanchedalmond;
        padding: 10px 40px 10px 40px;
        width: 150px;
        height: 40px;
    }
}